doctype html
html.no-js(lang="pt-br")
  head
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(name="viewport", content="width=1024")
    title= title
    link(rel='stylesheet', href='/plugins/bulma/css/bulma.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block content

    script(src="/plugins/jquery/dist/jquery.js")
    script(src="/javascripts/main.js")
