doctype html
html.no-js(lang="pt-br")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=1024")
    meta(name="description", content="DMTR é uma empresa descentralizada especializada em estratégia, tecnologia e desenvolvimento.")
    title #{title} | Desenvolvimento Web | Mobile Apps | Design
    meta(property="og:locale", content="pt_BR")
    meta(property="og:type", content="website")
    meta(property="og:title", content="DMTR")
    meta(property="og:description", content="DMTR é uma empresa descentralizada especializada em estratégia, tecnologia e desenvolvimento.")
    meta(property="og:url", content="http://dmtr.co")
    meta(property="og:site_name", content="DMTR")
    meta(property="og:image", content="https://s3.amazonaws.com/dmtr/dmtr_share.jpg")
    link(rel='stylesheet', href='/plugins/bulma/css/bulma.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block content

    script(src="/plugins/jquery/dist/jquery.js")
    script(src="/plugins/parsley/parsley.min.js")
    script(src="/plugins/jquery-mask/dist/jquery.mask.min.js")
    script(src="/javascripts/main.js")
