@import url('https://fonts.googleapis.com/css?family=Roboto|Gilda+Display|Montserrat:400,700');

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.title,
.subtitle,
.heading {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

.serif-text {
  font-family: 'Gilda Display', Helvetica, Arial, sans-serif;
}